<hr>
<h2>Completed </h2>
    <h4>
        <span class="pass legend">Pass</span> 
        <span class="fail legend">Fail</span> 
        <span class="skip legend">Skip</span> 
    </h4>
  
    <% if (!!completed) { %>
        <%  Object.keys(completed).forEach(function(key) { -%>  
            <div class="wrap-collabsible">
                <% const thisFeature = completed[key].find(item => item.groupedFeatureName === key && !item.scenarioName); -%>
                            test  <% if (!thisFeature) { %>  <%= key %> <% } %>
                <input id="<%= key %>Completed" class="toggle" type="checkbox">
                <label for="<%= key %>Completed" class="lbl-toggle 
                    <%  //if (thisFeature.status === "PASS") { -%>
                    pass
                    <%  //} else if (thisFeature.status === "FAIL") { -%>
                    fail
                    <%  //} -%>
                    ">
                    <%= key %></label>
                <div class="collapsible-content">
                    <div class="content-inner">
                    <table>
                         <tr>
                                <th>Scenario</th>
                                <th>Required By</th>
                                <th>Defect</th>
                        </tr>
                        <% for (const testCase of completed[key])  { -%>
                            <% if (!!testCase.scenarioName) { -%>
                                <% const thisStatus = testCase.status.toLowerCase(); -%>
                                <tr>
                                    <td class="<%= thisStatus %>"><%= testCase.scenarioName %></td>
                                    <td class="<%= thisStatus %>"><%= testCase.requiredBy %></td>
                                    <td class="<%= thisStatus %>"><%= testCase.defects %></td>
                                </tr>
                            <% } -%>
                        <% } -%>             
                    </table>
                    </div>
                </div>
            </div>
        <% }); -%>
    <% } -%>