<!DOCTYPE html>
<html>

<head>
    <title>Test Report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h2 {
            padding-bottom: 0.25em;
        }

        table {
            width: 100%;
            padding:10px;
        }

        th, td {
            padding: 0.20em;
            text-align: left; 
        }
      
        th {
            font-weight: bold;
            border-bottom: 1px solid #ddd;
        }
        
        tr {
            border-bottom: 1px solid #ddd;
        }
   
        td {
            margin: 0px;
            padding: 3px;
        }

        .pass {
            background-color: #DDFFDD;
        }

        .fail {
            background-color: #FFDDDD;
        }

        .skip {
            background-color: #DCDCDC;
        }

        .legend {
            padding:5px;
        }

        /* collapsible */
        .wrap-collabsible {
            margin-bottom: 0.25rem 0;
        }

        input[type='checkbox'] {
            display: none;
        }

        .lbl-toggle {
            display: block;
            font-weight: bold;
            text-align: left;
            padding: 0.25rem 0.25rem; 
            color: black;     
            cursor: pointer;   
            transition: all 0.25s ease-out;
        }

        .lbl-toggle:hover {
            color: #A0A0A0;
        }

        .lbl-toggle::before {
            content: ' ';
            display: inline-block;

            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid currentColor;
            vertical-align: middle;
            margin-right: .7rem;
            transform: translateY(-2px);

            transition: transform .2s ease-out;
        }

        .toggle:checked + .lbl-toggle::before {
            transform: rotate(90deg) translateX(-3px);
        }

        .collapsible-content {
            max-height: 0px;
            overflow: hidden;
            transition: max-height .25s ease-in-out;
        }

        .toggle:checked + .lbl-toggle + .collapsible-content {
            max-height: 1000px;
        }

        .toggle:checked + .lbl-toggle {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .collapsible-content .content-inner {
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            padding: .15rem .20rem;
        }
    </style>
</head>
<body> 
    <h2>Version: <%= versionToTest %><h2>
    <h2>Todo</h2>
      <% if (!!todo) { -%>
        <%  Object.keys(todo).forEach(function(key) { -%>      
            <% const thisFeature = todo[key].find(item => item.featureName === key); -%>
            <% if (thisFeature.scenarioName) { -%>
                <div class="wrap-collabsible">
                <input id="<%= key %>Todo" class="toggle" type="checkbox">
                <label for="<%= key %>Todo" class="lbl-toggle"><%= key %></label>
                <div class="collapsible-content">
                    <div class="content-inner">
                        <table>
                            <tr>
                                <th>Scenario</th>
                                <th>Required By</th>
                            </tr>
                        <% for (const feature of todo[key])  { -%>
                            <tr>
                                <td><%= feature.scenarioName %></td>
                                <td><%= feature.requiredBy %></td>
                                </tr>
                            <% } -%>
                        </table>
                </div>
                </div>
                </div>
            <% } -%>    
        <% }); -%>
    <% } -%>

    <h2>Completed </h2>
    <h4>
        <span class="fail legend">Fail</span> 
        <span class="pass legend">Pass</span> 
    </h4>
  
    <% if (!!completed) { %>
        <%  Object.keys(completed).forEach(function(key) { -%>      
            <div class="wrap-collabsible">
                <% const thisFeature = completed[key].find(item => item.featureName === key && !item.scenarioName); -%>
                            
                <input id="<%= key %>Completed" class="toggle" type="checkbox">
                <label for="<%= key %>Completed" class="lbl-toggle 
                    <% if (thisFeature.status === "PASS") { -%>
                    pass
                    <% } else if (thisFeature.status === "FAIL") { -%>
                    fail
                    <% } -%>
                    ">
                    <%= key %></label>
                <div class="collapsible-content">
                    <div class="content-inner">
                    <table>
                        <% for (const feature of completed[key])  { -%>
                            <% if (!!feature.scenarioName) { -%>
                                <% const scenarioStatus = feature.status === "PASS" ? "pass" : "fail"; -%>
                                <tr>
                                    <td class="<%= scenarioStatus %>"><%= feature.featureName %></td>
                                    <td class="<%= scenarioStatus %>"><%= feature.scenarioName %></td>
                                    <td class="<%= scenarioStatus %>"><%= feature.requiredBy %></td>
                                    <td class="<%= scenarioStatus %>"><%= feature.defects %></td>
                                </tr>
                            <% } -%>
                        <% } -%>             
                    </table>
                    </div>
                </div>
            </div>
        <% }); -%>
    <% } -%>

    <h2>Skipped</h2>
    <% if (!!skip) { %>
        <%  Object.keys(skip).forEach(function(key) { %>      
            <div class="wrap-collabsible">
                <input id="<%= key %>skip" class="toggle" type="checkbox">
                <label for="<%= key %>skip" class="lbl-toggle skip"><%= key %></label>
                <div class="collapsible-content">
                    <div class="content-inner">
                    <table>
                        <% for (const feature of skip[key])  { -%>
                            <% if (!!feature.scenarioName) { -%>
                                <tr>
                                    <td class="skip"><%= feature.scenarioName %></td>
                                    <td class="skip"><%= feature.requiredBy %></td>
                                </tr>
                            <% } -%>
                        <% } -%>             
                    </table>
                    </div>
                </div>
            </div>
        <% }); -%>
    <% } -%>
    
     
    <h2>Not Required</h2> 
     <% if (!!notRequired) { -%>
        <%  Object.keys(notRequired).forEach(function(key) { -%>      
                <div class="wrap-collabsible">
                <input id="<%= key %>NotRequired" class="toggle" type="checkbox">
                <label for="<%= key %>NotRequired" class="lbl-toggle"><%= key %></label>
                <div class="collapsible-content">
                    <div class="content-inner">
                        <table>
                            <tr>
                                <th>Scenario</th>
                                <th>Required By</th>
                            </tr>
                        <% for (const feature of todo[key])  { -%>
                            <tr>
                                <td><%= feature.scenarioName %></td>
                                <td><%= feature.requiredBy %></td>
                                </tr>
                            <% } -%>
                        </table>
                </div>
                </div>
                </div> 
        <% }); -%>
    <% } -%>

</body>
</html>